/*
* Wireless Wizard Wand
*
* Configured for Adafruit Feather nRF52840 Express
*/

/ {
  chosen {
    zephyr,console = &cdc_acm_uart0;
  };
};

&zephyr_udc0 {
cdc_acm_uart0: cdc_acm_uart0 {
                 compatible = "zephyr,cdc-acm-uart";
               };
};

&i2c0 {
	status = "okay";
	mpu6050@69 {
		compatible = "invensense,mpu6050";
		reg = <0x69>;
		status = "okay";
		//int-gpios = <&gpio0 11 GPIO_ACTIVE_HIGH>;
	};
};
